* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 34px;
}

.winner {
  background: green;
}

.board-container {
  text-align: center;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.square.winner {
  background-color: green;
}

.queue-for-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.prepare-game-container {
  position: fixed;
  top: 10px;
  left: 10px;
}

.board {
  border-collapse: collapse;
  display: inline-block;
  background-color: #fff;
  border: 2px solid #333;
}

.board td {
  width: 50px;
  height: 50px;
  border: 1px solid #aaa;
  text-align: center;
  font-size: 24px;
  background-color: #ddd;
}

.board-container .board .winning-cell-green {
  background-color: lightgreen;
}

.board-container .board .winning-cell-red {
  background-color: lightcoral;
}

.hover-darken {
  filter: brightness(80%);
}

.hover-darken:hover {
  filter: brightness(100%);
}

.queue-message {
  font-size: 20px;
  font-weight: bold;
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.queue-for-game-container input[type="text"] {
  padding: 8px;
  font-size: 16px;
}

.queue-for-game-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-game-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: end;
}

.game-container {
  text-align: center;
}

.input-label input {
  display: block;
  margin-bottom: 10px;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  position: relative; /* Allows precise positioning */
}

.create-account-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: flex;
  flex-direction: column; /* Ensure elements stack vertically */
  align-items: center;
  justify-content: center;
}

.create-account-container button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-to-login-button {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.8rem;
  padding: 0;
  display: block;
  margin-top: 10px;
  text-align: center;
}

.logout-button {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  background-color: red; /* Set background color to red */
  color: white; /* Set text color to white for contrast */
  border: none; /* Remove border if you don't want one */
  padding: 10px 20px; /* Add some padding */
  border-radius: 5px; /* Optional: Rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
  font-size: 16px; /* Adjust font size as needed */
}